**/lib/firebase_options.dart
**/ios/firebase_app_id_file.json
**/ios/Runner/GoogleService-Info.plist
**/android/app/google-services.json
**/test/widgets/failures/

T4_K17_pummel_the_fish/macos/firebase_app_id_file.json

T4_K17_pummel_the_fish/macos/Runner/GoogleService-Info.plist
